body {
    font-family: 'Nunito', sans-serif;
    background-color: #E0E0E0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    overflow: hidden; /* ✅ elimina el scroll */
}
#game-container {
    flex: 1;
    width: 100%;
    max-width: 600px;
    padding: 20px;

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* ✅ centra vertical real */
}
/* TITULO */
h1, h2 {
    font-family: 'Baloo 2', cursive;
    letter-spacing: 1px;
}

/* SECCION PREGUNTA */
#question-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#question-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* TEXTO PREGUNTA */
#question {
    font-family: 'Baloo 2', cursive;
    font-size: 1.6em;
    color: #1565c0; /* corregido */
    margin-bottom: 15px;
    font-weight: bold;
}

/* OPCIONES */
#options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.option {
    font-family: 'Fredoka', sans-serif;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 8px 0;
    border-radius: 14px;
    cursor: pointer;
    font-size: 1.25em;
    width: 80%;
    max-width: 350px;
    transition: all 0.25s ease;
}

.option:hover {
    background-color: #66bb6a;
    transform: scale(1.07);
}

/* FEEDBACK */
#feedback {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: bold;
    color: #ff4081;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    #question {
        font-size: 1.4em;
    }

    .option {
        font-size: 1.1em;
        padding: 12px 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    #question {
        font-size: 1.2em;
    }

    .option {
        font-size: 1em;
        padding: 10px 15px;
    }
}


/* RESPUESTA INCORRECTA */
.option.wrong {
    background-color: #e53935 !important;
    transform: scale(1.05);
}

/* RESPUESTA CORRECTA */
.option.correct {
    background-color: #2ecc71 !important;
}

/* bloquear botones */
.option.disabled {
    pointer-events: none;
    opacity: 0.7;
}